<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <mpserver>
    <login>SuperAdmin</login>
    <password>SUPERADMIN_PASSWORD</password>  
    <ip>127.0.0.1</ip>
    <port>XML_PORT</port>
    <timeout>180</timeout>
  </mpserver>
  <mpaseco>
    <masteradmins>
      <!-- /ip:port in tmlogin only needed when joining server over LAN -->
      <!-- ipaddress can be specified to guard each login against       -->
      <!-- unauthorized use of admin commands from other IP addresses   -->
<!-- format:
      <mplogin>YOUR_MASTERADMIN_LOGIN</mplogin> <ipaddress>YOUR_MASTERADMIN_IP</ipaddress>
      or: (The ipaddress is only optional)     
      <mplogin>YOUR_MASTERADMIN_LOGIN</mplogin>  
 -->     
      <mplogin>YOUR_MASTERADMIN_LOGIN</mplogin>  
    </masteradmins>

    <colors>
      <error>$f00$i</error>
      <welcome>$f00</welcome>
      <server>$ff0</server>
      <highlite>$fff</highlite>
      <timelite>$bbb</timelite>
      <record>$0f3</record>
      <emotic>$fa0</emotic>
      <music>$d80</music>
      <message>$39f</message>
      <rank>$ff3</rank>
      <vote>$f8f</vote>
      <karma>$ff0</karma>
      <donate>$f0f</donate>
      <admin>$ff0</admin>
      <black>$000</black>
      <grey>$888</grey>
      <login>$00f</login>
      <logina>$0c0</logina>
      <nick>$f00</nick>
      <interact>$ff0$i</interact>
      <dedimsg>$28b</dedimsg>
      <dedirec>$0b3</dedirec>
    </colors>

   <messages>
      <!-- init messages -->
      <startup>{#server}*** MPASECO {#highlite}v{1}{#server} running on {#highlite}{2}{#server}:{#highlite}{3}{#server} ***</startup>
      <welcome>{#welcome}Welcome {#highlite}{1}{#welcome} to {#highlite}{2}$z$s{br}{#welcome}This server uses {#highlite}MPAseco v{3}.</welcome>
      <warning>$s{#welcome}This is an administrative warning.{br}{br}$gWhatever you wrote is against our server's{br}policy. Not respecting other players, or{br}using offensive language might result in a{br}{#welcome}kick, or ban {#message}the next time.{br}{br}$gThe server administrators.</warning>      
      <map_begin>{#server}>> {#message}now we play: {#highlite}{1}</map_begin>

      <!-- record misc. messages -->
      <ranking_record_new_on>{#rank}{1}{#message}.$i{#highlite}{2}{#message}[{#highlite}{3}{#message}]$i, </ranking_record_new_on>
      <ranking_record_new>{#rank}{1}{#message}.{#highlite}{2}{#message}[{#highlite}{3}{#message}], </ranking_record_new>
      <ranking_record_on>{#rank}{1}{#message}.$i{#timelite}{2}{#message}[{#timelite}{3}{#message}]$i, </ranking_record_on>
      <ranking_record>{#rank}{1}{#message}.{#timelite}{2}{#message}[{#timelite}{3}{#message}], </ranking_record>
      <ranking_record2>{#rank}{1}{#message}.{#timelite}{2}{#message}, </ranking_record2>

      <!-- record relation messages -->
      <first_record>{#server}> {#record}The first Local record is: </first_record>
      <last_record>{#server}> {#record}The last Local record is: </last_record>
      <diff_record>{#server}> {#record}Difference between {1}{#record} and {2}{#record} is: {#highlite}{3}</diff_record>
      <summary>{#server}> {#highlite}{1} $z$s{#record}has {#highlite}{2}{#record} Local record{3}, the top {4} being: </summary>
      <sum_entry>{#highlite}{1} {#record}rec{2} #{#rank}{3}{#record}, </sum_entry>

      <!-- win/vote messages -->
      <wins>{#server}> {#record}You have already won {#highlite}{1}{#record} game{2}</wins>
      <win_new>{#server}> {#record}Congratulations, you won your {#highlite}{1}{#record}. game!</win_new>
      <win_multi>{#server}>> {#record}Congratulations, {#highlite}{1}{#record} won his/her {#highlite}{2}{#record}. game!</win_multi>

      <!-- muting messages -->
      <mute>{#server}> Player {#highlite}{1}$z$s{#server} is muted!</mute>
      <unmute>{#server}> Player {#highlite}{1}$z$s{#server} is unmuted!</unmute>
      <muted>{#server}> {#highlite}{1}{#error} disabled because you are on the global mute list!</muted>

      <!-- donate/pay messages -->
      <donation>{#donate} Donate {#highlite}{1}{#donate} planets to {#highlite}{2}$z</donation>
      <thanks_all>{#server}>> {#highlite}{1}$z$s{#donate} received a donation of {#highlite}{2}{#donate} planets from {#highlite}{3}$z$s{#donate}.  Thank You!</thanks_all>
      <thanks_you>{#server}> {#donate}You made a donation of {#highlite}{1}{#donate} planets.  Thank You!</thanks_you>
      <donate_minimum>{#server}> {#error}Minimum donation amount is {#highlite}$i {1}{#error} planets!</donate_minimum>
      <donate_help>{#server}> {#error}Use {#highlite}$i /donate &lt;number&gt;{#error} to donate planets to the server</donate_help>
      <payment>{#donate} Send {#highlite}{1}{#donate} planets to {#highlite}{2}$z</payment>
      <pay_insuff>{#server}> {#error}Insufficient server planets: {#highlite}$i {1}{#error}!</pay_insuff>
      <pay_server>{#server}> {#error}Cannot pay this server itself!</pay_server>
      <pay_confirm>{#server}> {#donate}Payment of {#highlite}{1}{#donate} planets to {#highlite}{2}{#donate} confirmed!  Remaining planets: {#highlite}{3}</pay_confirm>
      <pay_cancel>{#server}> {#donate}Payment to {#highlite}{1}{#donate} cancelled!</pay_cancel>
      <pay_help>{#server}> {#error}Use {#highlite}$i /admin pay &lt;login&gt; $m&lt;number&gt;{#error} to send server planets to a login</pay_help>

      <!-- playtime/map messages -->
      <playtime>{#server}> Current map {#highlite}{1}{#server} has been played for {#highlite}{2}</playtime>
      <playtime_finish>{#server}>> Current map {#highlite}{1}{#server} finished after {#highlite}{2}</playtime_finish>
      <playtime_replay> {#server}({#highlite}{1}{#server} replay{2}, total {#highlite}{3}{#server})</playtime_replay>
      <map>{#server}> Current map {#highlite}{1} {#server}by {#highlite}{2}  {#server}Author: {#highlite}{3} {#server}Gold: {#highlite}{4} {#server}Silver: {#highlite}{5} {#server}Bronze: {#highlite}{6} {#server}Cost: {#highlite}{7}</map>
      <current_map>{#server}>> Current map {#highlite}{1} {#server}by {#highlite}{2}  {#server}Author: {#highlite}{3}</current_map>

      <!-- rounds points messages -->
      <rpoints_named>{#server}> {1}Custom points system set to {#highlite}{2}{3}: {#highlite}{4},...</rpoints_named>
      <rpoints_nameless>{#server}> {1}Custom points system set to: {#highlite}{2},...</rpoints_nameless>
      <no_rpoints>{#server}> {1}No custom Rounds points system defined!</no_rpoints>

      <!-- relay messages -->
      <no_relays>{#server}> {#error}No relay servers connected</no_relays>
      <relaymaster>{#server}> This server relays master server: {#highlite}{1}{#server} ({#highlite}{2}{#server})</relaymaster>
      <notonrelay>{#server}> {#error}Command unavailable on relay server</notonrelay>

      <!-- uptodate messages -->
      <uptodate_ok>{#server}>> {#message}This MPASECO version {#highlite}{1}{#message} is up to date.</uptodate_ok>
      <uptodate_new>{#server}>> {#message}New MPASECO version {#highlite}{1}{#message} available on {br}{#highlite}{2}</uptodate_new>

      <!-- connection messages -->
      <client_dialog>{#welcome}Obsolete client version, please $l[http://www.tm-forum.com/viewtopic.php?p=139752#p139752]upgrade$l.$z</client_dialog>
      <client_error>{#welcome}Obsolete client version!{br}Please upgrade to the $l[http://www.tm-forum.com/viewtopic.php?p=139752#p139752]latest version$l.</client_error>
      <connect_dialog>{#welcome}Connection problem, please retry.$z</connect_dialog>
      <connect_error>{#welcome}$sThis is an administrative notice.$z{br}{br}MPAseco encountered a very rare player connection{br}problem. Please re-join the server to correct it.{br}Apologies for the inconvenience.{br}{br}$sThe server administrators.</connect_error>

      <!-- idlekick messages -->
      <idlekick_play>{#server}>> IdleKick player {#highlite}{1}$z$s{#server} after {#highlite}{2}{#server} map{3}!</idlekick_play>
      <idlespec_play>{#server}>> IdleSpec player {#highlite}{1}$z$s{#server} after {#highlite}{2}{#server} map{3}</idlespec_play>
      <idlekick_spec>{#server}>> IdleKick spectator {#highlite}{1}$z$s{#server} after {#highlite}{2}{#server} map{3}!</idlekick_spec>

      <!-- miscellaneous messages -->
      <song>{#server}> Map {#highlite}{1} {#server}plays song: {#highlite}{2}</song>
      <mod>{#server}> Map {#highlite}{1} {#server}uses mod: {#highlite}{2} {#server}({#highlite}{3}{#server})</mod>
      <planets>{#server}> Server {#highlite}{1}$z$s {#server}owns {#highlite}{2} {#server}planets!</planets>
      <time>{#server}> {#interact}Current Server Time: {#highlite}$i {1}{#interact} on {#highlite}$i {2}</time>
      <round>$n{#message}R{#highlite}{1}{#message}> </round>
      <no_cpsspec>{#server}> {#highlite}/cpsspec{#server} is not currently enabled on this server.</no_cpsspec>
      <no_admin>{#server}> {#error}You have to be in admin list to do that!</no_admin>
      <help_explanation>{#server}> Press the {#highlite}C{#server} key to see the whole list, and use {#highlite}/helpall{#server} for details</help_explanation>
    </messages>

    <welcome_msg_window>False</welcome_msg_window>
    <lock_password></lock_password>
    <log_all_chat>False</log_all_chat>
    <chatpmlog_times>True</chatpmlog_times>
    <cheater_action>0</cheater_action>
    <script_timeout>60</script_timeout>

    <!-- 2 = in message window, 1 = in chat, 0 = none   -->
    <show_playtime>1</show_playtime>
    <!-- 2 = in message window, 1 = in chat, 0 = none   -->
    <show_curmap>0</show_curmap>

    <default_maplist>tracklist.txt</default_maplist>
    <writemaplist_random>True</writemaplist_random>
    <help_explanation>False</help_explanation>
    <lists_colornicks>True</lists_colornicks>
    <lists_colormaps>True</lists_colormaps>
    <topclans_minplayers>2</topclans_minplayers>
    <global_win_multiple>50</global_win_multiple>
    <display_checkpoints>True</display_checkpoints>
    <enable_cpsspec>False</enable_cpsspec>
    <auto_enable_cps>True</auto_enable_cps>
    <auto_enable_dedicps>False</auto_enable_dedicps>
    <auto_admin_addip>False</auto_admin_addip>
    <adminops_file>adminops.xml</adminops_file>
    <blacklist_file>blacklist.txt</blacklist_file>
    <guestlist_file>guestlist.txt</guestlist_file>
    <maphist_file>maphist.txt</maphist_file>

    <admin_client_version></admin_client_version>
    <player_client_version></player_client_version>
    <default_rpoints></default_rpoints>
    <afk_force_spec>True</afk_force_spec>
    <clickable_lists>True</clickable_lists>
    <show_rec_logins>True</show_rec_logins>

    <!-- True = in message window, False = in chat       -->
    <recs_in_window>False</recs_in_window>
    <!-- True = in message window, False = in chat       -->
    <rounds_in_window>False</rounds_in_window>
    <!-- timeout of the message window in seconds        -->
    <window_timeout>6</window_timeout>
    <!-- True = display individual stats panels for each -->
    <!-- player during the scoreboard & disable the rank -->
    <!-- chat messages, False = show only rank messages  -->
    <sb_stats_panels>True</sb_stats_panels>

    <!-- default windows style: Card if empty, or a       -->
    <!-- filename that should be at styles/<filename>.xml -->
    <window_style>Card</window_style>
    <!-- default panels:  empty for no panel, otherwise a -->
    <!-- filename that should be at panels/<filename>.xml -->
    <admin_panel>AdminRightCorner</admin_panel>
    <donate_panel>DonateBelowCPList</donate_panel>
   <!-- <records_panel>RecordsRightCorner</records_panel> -->
    <vote_panel>VoteBottomCenter</vote_panel>
    <!-- default panel background: Card if empty, or a    -->
    <!-- filename that should be at panels/<filename>.xml -->
    <panel_bg>PanelBGCard</panel_bg>
  </mpaseco>
</settings>
